<button 
  class="button button__disabled{{#if className}} {{className}}{{/if}}" 
  {{#if page}}
  page="{{ page }}"
  {{/if}}
  {{#if id}}
  id="{{ id }}"
  {{/if}}>
  <p 
    class="button__text" 
    {{#if page}}
    page="{{ page }}"
    {{/if}}>
    {{ text }}
  </p>
  <div 
    class="button__img{{#if next}} button__next{{/if}}"
    {{#if page}}
    page="{{ page }}"
    {{/if}}>
  </div>
</button>
