<div class="big-header">
  <div>
    {{{ logo }}}
    {{{ title }}}
  </div>
  {{#if chat}}
  <div>
    {{{ link1 }}}
    {{{ avatar }}}
  </div>
  {{else}}
  <div>
    {{{ link2 }}}
    {{{ chaticon }}}
  </div>
  {{/if}}
</div>
