<div 
  class="interlocutor-item">
  {{#if avatar}}
  <img 
    class="interlocutor-item__avatar" 
    src={{avatar}}
    alt="User avatar" />
  {{else }}
  <img 
    class="interlocutor-item__avatar" 
    src="/assets/no-avatar-icon.png"
    alt="Icon with question sign for users withour avatar pictures"/>
  {{/if}}
  <p class="interlocutor-item__name">
    {{#if name}} {{ name }} {{else }} Выберите чат {{/if}}
  </p>
  {{#if name}} 
  <p class="interlocutor-item__text">Юзеров: {{users}} </p>
  <div class="interlocutor-item__button-block">
    {{{ adduserinput }}}
    {{{ deletechatbutton}}}
  </div>

  {{/if}}

</div>
