<form class="message-input{{#if className}} {{className}}{{/if}}">
  <input
    class="message-input__element"
    type="{{ type }}" 
    placeholder="{{ placeholder }}" 
    name="{{ name }}" 
    value="{{ value }}"
    required="true"
    minlength="1"/>
  <button class="message-input__icon"></button>
</form>
