<main class="page">
  <form class="login-page">
    <div class="login-page__content">
      {{{ pagetitle }}}
      {{{ logininputfield }}}
      {{{ passwordinputfield }}}
    </div>
    {{{ button }}}
    {{{ linktoregister }}}
  </form>
  {{{ link1 }}}
  {{{ link2 }}}
  {{{ link3 }}}
</main>
