<main class="page">
  <form class="login-page">
    <div class="login-page__content">
      {{{ pagetitle }}}
      {{{ logininputfield }}}
      {{{ passwordinputfield }}}
    </div>
    {{{ button }}}
    <span
      class="login-page__span login-page__span_invalid {{#if errorclass}}{{errorclass}}{{/if}}"
      id="login-error">
      {{errormessage}}
    </span>
    {{{ linktoregister }}}
  </form>
</main>
