<main class="page">
  <form class="register-page">
    <div class="register-page__content">
      {{{ pagetitle }}}
      {{{ firstnameinput }}}
      {{{ lastnameinput }}}
      {{{ logininput }}}
      {{{ emailinput }}}
      {{{ phoneinput }}}
      {{{ passwordinput }}}
    </div>
    {{{ button }}}
    {{{ linktologin }}}
  </form>
  {{{ link1 }}}
  {{{ link2 }}}
</main>
