<main class="page">
  <form class="register-page">
    <div class="register-page__content">
      {{{ pagetitle }}}
      {{{ firstnameinputfield }}}
      {{{ lastnameinputfield }}}
      {{{ logininputfield }}}
      {{{ emailinputfield }}}
      {{{ phoneinputfield }}}
      {{{ passwordinputfield }}}
    </div>
    {{{ button }}}
    {{{ linktologin }}}
  </form>
  {{{ link1 }}}
  {{{ link2 }}}
</main>
