<main class="page">
  <form class="register-page">
    <div class="register-page__content">
      {{{ pagetitle }}}
      {{{ firstnameinputfield }}}
      {{{ lastnameinputfield }}}
      {{{ logininputfield }}}
      {{{ emailinputfield }}}
      {{{ phoneinputfield }}}
      {{{ passwordinputfield }}}
    </div>
    {{{ button }}}
    <span
      class="register-page__span register-page__span_invalid {{#if errorclass}}{{errorclass}}{{/if}}"
      id="register-error">
      {{errormessage}}
    </span>
    {{{ linktologin }}}
  </form>
</main>
