<form class="search-input{{#if className}} {{className}}{{/if}}">
  <input
    class="search-input__element"
    type="{{ type }}" 
    placeholder="{{ placeholder }}" 
    name="{{ name }}" 
    value="{{ value }}">
  <button class="search-input__icon"></button>
</form>
