<label for="{{ name }}" class="inputfield{{#if className}} {{className}}{{/if}}">
  {{{ input }}}
  <span
    class="inputfield__span inputfield__span_valid {{spanclass}}"
    id="{{spanid}}">
    {{errormessage}}
  </span>
</label>
