<main class="page">
  <div class="big-header">
  <div>
    {{{ logo }}}
    {{{ generaltitle }}}
  </div>
  <div>
    {{{ chatlink }}}
    {{{ chaticon }}}
  </div>
  </div>
  <form class="profile-page">
    <div class="profile-page__content">
      <div class="profile-page__top-row">
        {{{ title }}}
        {{{ avatar }}}
      </div>
      {{{ firstnameinput }}}
      {{{ lastnameinput }}}
      {{{ logininput }}}
      {{{ emailinput }}}
      {{{ phoneinput }}}
    </div>
    {{{ button }}}
    {{{ avatarInput }}}
    {{{ newpasswordinput }}}
    {{{ exitbutton }}}
  </form>
  {{{ link1 }}}
  {{{ link2 }}}
</main>
