<main class="page">
  <div class="error-page">
    {{{title}}}
    {{{errorfield}}}
    {{{link1}}}
    {{{link2}}}
    <img 
      src="/assets/left-pic.png" 
      class="error-page__img-left"
      alt="Some question signs"/>
    <img 
      src="/assets/right-pic.png" 
      class="error-page__img-right"
      alt="Some question signs"/>
    {{{logo}}}
  </div>
</main>
