<main class="page">
  <div class="chat-page">
    <div class="big-header">
      <div>
        {{{ logo }}}
        {{{ generaltitle }}}
      </div>
      <div>
        {{{ profilelink }}}
        {{{ chaticon }}}
      </div>
    </div>
    <div class="chat-page__content">
      <div class="chat-page__list">
        {{{ searchinput }}}
          {{{ lists }}}
      </div>
      <div class="current-chat">
        {{#if text}}
          <p class="current-chat__text">{{text}}</p>
        {{else}}
          <div class="current-chat__message-block">
            {{{ interlocutoritem }}}
            {{{ lists1 }}}
          </div>
        {{{ messageinput }}}
        {{/if}}
      </div>
    </div>
  </div>
</main>
